.rpi-progress-bar-container {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-bottom: 20px;
}
.rpi-progress-bar-container__percentage {
  box-sizing: inherit;
  font-size: 16px;
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  color: black;
  opacity: .3;  
  width: auto;
  min-width: 4em;
  padding-left: 4px;
}
.rpi-progress-bar-container__position {
  box-sizing: inherit;
  height: 4px;
  width: 100%;  
  background-color: #1E90FF;
  background-color: rgba(0,0,0,.2);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 50ms;
  transition: -webkit-transform 50ms;
  transition: transform 50ms;
  transition: transform 50ms, -webkit-transform 50ms;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  will-change: transform;
  position: relative;
}